@font-face {
    font-family: "Raleway", serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }